[Desktop Entry]
Version=1.0
Type=Application
Name=Cashflow Planer
Comment=Finanzplanung und Cashflow-Management
Exec=/home/tian/Coding/cashflow_cpp_qt6_pro/build/Desktop_Qt_6_9_1-Debug/CashflowPlannerProCpp
Icon=/home/tian/Coding/cashflow_cpp_qt6_pro/resources/CashFlowIcon.png
Terminal=false
Categories=Office;Finance;
StartupWMClass=CashflowPlannerProCpp